.contest_card_wrapper {
  width: 24em;
  height: 22em;
  padding: 1em;
  margin: 2em;
  display: flex;
  justify-content: space-around;
  transition: all 0.3s ease-out;
  border-radius: 55px;
  background: linear-gradient(145deg, #6784a9, #7a9dc9);
  box-shadow: 17px 17px 34px #506784, -17px -17px 34px #94bff4;
}

.contest_card_wrapper:hover {
  transform: scale(110%);
}

.contest_card_left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: inset 17px 17px 34px #506784, inset -17px -17px 34px #94bff4;
}

.contest_card_img {
  width: 12em;
  height: 20em;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: inset 17px 17px 34px #506784, inset -17px -17px 34px #94bff4;
}

.contest_card_right {
  width: 12em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: inset 17px 17px 34px #506784, inset -17px -17px 34px #94bff4;
}

.contest_card_right div {
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}

.contest_card_title {
  font-style: 1rem;
}
