#filter_nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#filter_nav a {
  color: black;
  margin-right: 2em;
  padding: 0.5em;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

#filter_nav > a:hover {
  transform: scale(110%);
  text-decoration: underline;
  color: #7293bc;
  font-weight: bold;
}
